@model SpiderFoodStore.Models.Customer

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_StoreLayoutPage.cshtml";
}

@Scripts.Render("/Content/css/profile.css")

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="~/Content/Images/@Model.ImagePath"><span class="font-weight-bold">@Model.Firstname</span><span class="text-black-50">@Model.Email</span><span> </span></div>
        </div>
        <div class="col-md-7 border-right">
            @using (Html.BeginForm("EditProfile", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">FirstName</label><input name="firstname" type="text" class="form-control" placeholder="first name" value="@Model.Firstname"></div>
                        <div class="col-md-6"><label class="labels">LastName</label><input name="lastname" type="text" class="form-control" value="@Model.Lastname" placeholder="last name"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input name="phone" type="text" class="form-control" placeholder="enter phone number" value="@Model.Phone"></div>
                        <div class="col-md-12"><label class="labels">Address</label><input name="address" type="text" class="form-control" placeholder="enter address" value="@Model.Address"></div>
                        <div class="col-md-12"><label class="labels">Avatar File</label><input name="imageFile" type="file" class="form-control" placeholder="enter address" style="height: 50px;"></div>
                    </div>
                    <input hidden name="id" value="@Model.Id" />
                    <div class="row mt-3"><p>@ViewBag.Error</p></div>
                    <div class="mt-5 text-center"><button class="btn profile-button" style="background-color: #7fad39" type="submit">Save Profile</button></div>
                </div>
            }
        </div>
    </div>
</div>
</div>
</div>
