@using SpiderFoodStore.Models
@using PagedList.Mvc
@model PagedList.PagedList<SpiderFoodStore.Models.Product>

@{
    ViewBag.Title = "ShopGrid";
    Layout = "~/Views/Shared/_StoreLayoutPage.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Content/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Department</h4>
                        <ul>
                            @foreach(Category item in ViewBag.Categories)
                            {
                                <li><a href="@Url.Action("ShopGrid", "Product", new {category = item.Id})">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Price</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                 data-min="10" data-max="540">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <h4>Popular Size</h4>
                        <div class="sidebar__item__size">
                            <label for="large">
                                Large
                                <input type="radio" id="large">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="medium">
                                Medium
                                <input type="radio" id="medium">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="small">
                                Small
                                <input type="radio" id="small">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="tiny">
                                Tiny
                                <input type="radio" id="tiny">
                            </label>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Latest Products</h4>
                            <div class="latest-product__slider owl-carousel">
                                <div class="latest-prdouct__slider__item">
                                    @{ int i = 0;}
                                    @foreach (Product item in ViewBag.LatestProduct)
                                    {
                                        i++;
                                        if (i == 4)
                                        {
                                            @:</div>
                                            @:<div class="latest-prdouct__slider__item">
                                        }
                                        <a href="@Url.Action("Details", "Product", new {id=item.Id})" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="~/Content/Images/@item.ImagePath" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>@item.Name</h6>
                                                <span>$@item.Price</span>
                                            </div>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select>
                                    <option value="0">Default</option>
                                    <option value="0">Default</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>@ViewBag.Sum</span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <i class="fa fa-th-large" aria-hidden="true" style="color: gainsboro;"></i>
                                <i class="fa fa-th-list" aria-hidden="true" style="color: gainsboro;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach(Product item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/Content/Images/@item.ImagePath">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="@Url.Action("Details", "Product", new {id = item.Id})"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                        <li><a href="@Url.Action("AddToCart", "ShoppingCart", new {id = item.Id})"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">@item.Name</a></h6>
                                    <h5>$@item.Price</h5>
                                </div>
                            </div>
                        </div>
                    }   
                </div>
                <div class="product__pagination" style="display:flex; justify-content:center; flex-direction: column; align-items: center;">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                    <div style="height: 10px;"></div>
                    @Html.PagedListPager(Model, page => Url.Action("ShopGrid", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->