@model IEnumerable<SpiderFoodStore.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QWRtaW5TcGlkZXI/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create", "Customers")" class="btn btn-success" role="button">Create New</a>
</p>
<table class="table table-dark table-hover">
    <tr>
        <th>
            No.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>
    @{ int no = 0; }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{no++;}
                @no
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                <img src="~/Content/Images/@item.ImagePath" height="50" />
            </td>
            <td>
                @{ string subString = item.Email.Substring(0, 20) + "...";}
                @Html.DisplayFor(modelItem => subString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Customers", new {id=item.Id})" class="btn btn-warning" role="button"><i class="fa fa-pencil" aria-hidden="true"></i>  Edit</a>
                <a href="@Url.Action("Details", "Customers", new {id=item.Id})" class="btn btn-info" role="button"><i class="fa fa-info-circle" aria-hidden="true"></i> Details</a>
                <a href="@Url.Action("Delete", "Customers", new {id=item.Id})" class="btn btn-danger" role="button"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
            </td>
        </tr>
    }

</table>
